logs.log
*.pyc
daemon/__pycache__/controlPanel_class.cpython-39.pyc
*.wav
*.log
pyro_uri.text
.github/images/~$$daemon_sketch.~vsdx
*.~vsdx
*.vsdx
daemon/__pycache__/packet.cpython-39.pyc
*.secretkey
client_secret_*
*ServiceAccount*.json
deamon/tok*.json
lib/*
bin/*
*.mp3
*.wav
token.json

